<!DOCTYPE html>
<html lang="en" >
{{>header}}
<body>
<!-- partial:index.partial.html -->
<div class="box-form">

<div class="left">
		<div class="overlay">
		<h1 style="color: green; ">Registration.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Register</h5>
		<p>Don't have an account? <a href="/login">Creat Your Account</a> it takes less than a minute</p>
		<form action="/register" method="POST">
			<div class="inputs">
			<input type="email" placeholder="enter email" value="" name="email">
			<br>
			<input type="password" placeholder="password" value="" name="password">
			<br>
			<input type="password" placeholder="conform password" value="" name="conformpassword">
				<br>
				<input type="text" placeholder="Past Image Link" value="" name="profile">
		</div>
		<button type="submit" value="Register">Login</button>
		</form>
			
			<br><br>
			
	
			
			<br>
			
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
